.FullTweetWithActions{
    max-width: 80%;
    border-radius: 12px;
    padding: 1.5%;
}

.SimpleTweet{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.tweetContainer{
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 80%;
}
.date{
    color: #999;
    border: 0 solid white;
}
.iconsContainer{
    display: flex;
    padding-right: 10%;
    padding-left: 10%;
    justify-content:space-between;
    color: #fff
}
.iconsContainer button{
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border-color: transparent;
    transition: all .5s;
    color: #fff
}
.iconsContainer button:hover{
    background-color: #ddd;
    color: #000;
}

.button-stat {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imageContainer{
    text-align: center;
}

.imageContainer img{
    max-width: 100%;
}

.reduce-a-cuarto {
    width: 25%;
}