.Twitt{
    background-color: #333;
    display: flex;
    align-items: top;
    padding: 1.5%;
    border-radius: 12px;
    max-width: 70%;
    flex-direction: row;
}
.twitContainer{
    color: #fff;
    display: flex;
    flex-direction: column;
}
.test{
    margin-right: 20px;
}
.date{
    color: #999;
}
.iconsContainer{
    display: flex;
    padding-right: 30%;
    justify-content: space-between;
}