.Twitt{
    background-color: #333;
    display: flex;
    padding: 1.5%;
    border-radius: 12px;
    max-width: 75%;
    flex-direction: row;
}
.twitContainer{
    color: #fff;
    display: flex;
    flex-direction: column;
}
.test{
    margin-right: 20px;
}
.date{
    color: #999;
}
.iconsContainer{
    display: flex;
    padding-right: 30%;
    justify-content: space-between;
}
.iconsContainer button{
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border-color: transparent;
    transition: background-color .75s;
    transition: color .5s;
    color: #fff
}
.iconsContainer button:hover{
    background-color: #fff;
    color: #000;
}